h1,
h3 {
  color: white;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #eaeaea !important;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.texto-branco {
  color: white;
}
.texto-preto{
color: black !important;
}
/*******************************************************Logo**************************************************************/
#Logo {
  border: none;
  padding-right: 1px !important;
  padding-top: 0px;
  padding-bottom: 0px;
}
.container-fluid {
  padding: 0px !important;
}
#img-mix {
  width: 100px;
  margin-left: 40px;
  margin-right: 0px;
}
#Space {
  padding-left: 31%;
}
#Space-2 {
  padding-left: 50%;
}

#icon-whats {
  color: #00e676;
  font-size: 20px;
  padding-right: 5px;
}

#icon-tel {
  font-size: 20px;
  padding-right: 5px;
}
#icon-local {
  font-size: 20px;
  padding-right: 5px;
}
#icon-facebook {
  font-size: 40px;
  color: #16a5fb;
}
#icon-instagram {
  font-size: 40px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1725px) {
  .card-baixo {
    height: 200px;
  }
  #Space-2 {
    padding-left: 40%;
  }
}
@media (max-width: 1526px) {
  #Space {
    padding-left: 20%;
  }
}
@media (max-width: 1319px) {
  #Space-2 {
    padding-left: 30%;
  }
}
@media (max-width: 1161px) {
  #Space {
    padding-left: 20%;
  }
  #Space-2 {
    padding-left: 20%;
  }
}
@media (max-width: 501px) {
  #img-mix {
    margin-left: 0px;
  }
  .mix {
    width: 70% !important;
    padding-top: 100px;
  }
}
@media (max-width:400px){
  .card-opniao{
    height: 400px;
  }
}
@media (max-width:350px){
  .card-opniao{
    height: 450px;
  }
}
/*******************************************************Banner*****************************************************/
.banner {
  background-image: url(../imagem/manutencao-celulares.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}
#banner {
  padding: 0px;
}
.mix {
  width: 35%;
}
.txt {
  text-align: center;
}
.banner-txt {
  padding-top: 70px;
  text-align: center;
}
/*******************************************************Informações*****************************************************/
#Nossos-Serviços {
  padding: 5% 14% !important;
  text-align: center !important;
}
.inf-2 {
  text-align: center;
  padding-bottom: 2rem;
}
.font {
  font-size: 60px;
  padding-bottom: 10px;
  color: black;
}
.img-card {
  height: 300px;
}
.card-body {
  text-align: center;
  padding: 3rem !important;
  height: 250px;
}
.baxin {
  margin-bottom: 0px;
}
.card-text {
  font-size: 17px;
  color: #7a7a7a;
}
.card-title {
  padding-bottom: 1.4rem;
}
.card {
  margin-bottom: 25px;
}
.card-baixo {
  height: 320px;
}
/*******************************************************Transição*****************************************************/
.transicao {
  background-color: #fff;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(206, 27, 40, 0.25),
      rgba(206, 27, 40, 0.25)
    ),
    url(../imagem/Predios.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 16rem 0 16rem 0;
  z-index: 1;
}
.Conheca {
  font-size: 50px;
}
.opn {
  padding-top: 100px;
}
@media (min-width: 990px) and (max-width: 1200px) {
  .ultimo {
    margin-left: 240px;
    padding-top: 5%;
  }
}
/*******************************************************Opiniões*****************************************************/
#opniao {
  padding: 0% 10% !important;
}
/*******************************************************Orçamento*****************************************************/
.Orcamento {
  padding: 5% 10% !important;
  text-align: center;
}
.Tit {
  padding-bottom: 50px;
}
.Orc {
  color: black;
}
.name {
  width: 35%;
  border: none;
  border-radius: 20px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
}
.email {
  width: 17%;
  border: none;
  border-radius: 20px;
  height: 40px;
  margin-right: 1%;
  padding-left: 15px;
}
.telefone {
  width: 17%;
  border: none;
  border-radius: 20px;
  height: 40px;
  padding-left: 15px;
}
.wpcf7-form-control-wrap {
  margin-top: 10px;
  width: 35%;
  position: relative !important;
  display: inline-block;
  margin-bottom: 3px;
}
.wpcf7-form-control {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
  border-radius: 20px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1200px) {
  .name {
    width: 80%;
  }
  .email {
    width: 39%;
  }
  .telefone {
    width: 39%;
  }
  .wpcf7-form-control-wrap {
    width: 80%;
  }
}
/*******************************************************Rodapé*****************************************************/
#footer {
  text-align: center;
  padding-bottom: 50px;
  background-color: #111111;
}
.Av {
  padding-top: 25px;
  padding-bottom: 20px;
}
.rodape-number {
  text-decoration: none;
  margin-top: 25px !important;
  font-size: 20px;
}
.icones {
  padding-right: 10px;
}
.primeiro {
  margin-right: 50px;
}
#wht {
  color: #00e676;
}
.lik {
  text-decoration: none;
}
.rodape-2 {
  margin-top: 20px;
}
.segundo {
  margin-right: 150px;
}
.horario {
  padding-top: 50px;
  text-align: center;
}
.dias {
  list-style-type: none;
  padding-left: 0px;
}
